.nav {
  --bs-nav-link-color: #50e5ff;
  --bs-nav-link-hover-color: #e0faff;
}
.form-control {
  text-align: center;
  margin: auto;
  width: 50%;
}
.card-title {
  color: #50e5ff;
  font-weight: bold;
}
.card-text {
  color: #ffffff;
  font-style: italic;
}
.nav-link {
  cursor: pointer;
}
.card {
  cursor: pointer;
  --bs-card-bg: #202020;
}
.card:hover {
  box-shadow: 0px 0px 25px #50e5ff83;
}
.form-select {
  text-align: center;
  font-size: 1.25rem;
  border: 1px solid #fff;
  width: auto;
  cursor: pointer;
}
.bg-dark {
  background: url(../images/background.jpeg) no-repeat center / cover;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
